.app {
  font-family: "Ubuntu Mono", monospace;
  color: grey;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #283655;
}

.card {
  background: #FCFDFE;
  padding: 15px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, select {
  margin: 5px;
  padding: 6px;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  padding: 6px 12px;
  background-color: #D0E1F9;
  border: none;
  color:  black;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #F0EFEA;
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}
h1{
  color: white;
}
h2{
  font-size: 31px;
  color: #1E1F26;
}
.balance{  
  font-size: 21px;
}
li,p{
  font-size: 15px;
  color: black;
}
.foot{
  color: white;
}
.fa-trash {
  color: #283655;
  cursor: pointer;
}

