html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #ADC1c0;
}

.app {
  font-family: "Ubuntu Mono", monospace;  
  color: grey;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #ADC1c0;  
}

.card {
  background: #dee0e0;
  padding: 15px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, select {
  margin: 5px;
  padding: 6px;
}

button { 
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 6px 12px;
  background-color: #35b67e;
  border: none;
  color:  black;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #269181;
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}
h1{
  color: white;
}
h2{
  font-size: 25px;
  color: #1E1F26;
}
.balance{  
  font-size: 21px;
}
li,p{
  font-size: 15px;
  color: black;
}
.foot{
  color: white;
}
.fa-trash {
  color: #283655;
  cursor: pointer;
}
.welcome {
  background-color: #ADC1c0;
  text-align: center;
  margin-top: 80px;
}
.logo {
  width: 280px;  
}
.Create{
  width:130px;
}
.tacho{
  text-align: right;
}
.boton{
  width: 190px ;
  height: 40px;
  font-size: 18px;
  border-radius: 15px;
  color: white;
}
.people-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.people-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 6px 0;
}

.people-name {
  flex: 1;
  text-align: center;
}

