.app {
  font-family: "Brush Script MT", cursive;
  font-style: oblique;
  color: grey;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  background-color: #C5ADC5;
}

.card {
  background: #FCFDFE;
  padding: 15px;
  margin: 10px 0;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input, select {
  margin: 5px;
  padding: 6px;
}

button {
  margin-top: 10px;
  margin-left: 5px;
  padding: 6px 12px;
  background-color: #C5ADC5;
  border: none;
  color: grey;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #F0EFEA;
  transform: scale(1.02);
}

ul {
  list-style: none;
  padding: 0;
}
h1{
  color: white;
}